{% raw %}{% load static %}<!DOCTYPE html>

<html lang='en'>

<head>
  <title>{% block title %}net153.net{% endblock title %}</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
  {% block css %}
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  {% endblock css %}
</head>

<body>
  <nav>
    <a href="http://net153.net">
      <div class="logo"></div>
    </a>
    <ul>
      <li><a class="nav" href="{% url 'home' %}" title="Home">Home</a></li>
      <li><a class="nav" href="{% url 'wserver' %}" title="Server Stats">Server Stats</a></li>
      <li><a class="nav" href="{% url 'blog:list' %}" title="Tech Blog">Tech Blog</a></li>
    </ul>
  </nav>

  {% if messages %}
  {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
  {% endfor %}
  {% endif %}

  {% block content %}
  <p>Net153 Home This text is inherited on other pages!</p>
  {% endblock content %}

</body>
</html>
{% endraw %}
